.gedf-wrapper {
    // margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbotron {
      min-height: 400px
  }

  body {
    padding : 10px ;
    
  }
  
  