<!--Main Navigation-->
<header class="intro-header">


  
    <!--Intro Section-->
    <section class="view intro-2 rgba-gradient">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row flex-center pt-5 mt-3">
            <div class="col-md-6 text-center text-md-left margins">
              <div class="white-text">
                <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Start your Chapter today</h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Discover new books and new friends</h6>
                <br>
                <!-- <a mdbBtn color="white" outline="true" class="wow fadeInLeft" data-wow-delay="0.3s">Learn more</a> -->
              </div>
            </div>
  
            <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
              <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </header>
  <!--Main Navigation-->
  
  <!--Main Layout-->
  <main>
  
    <div class="container">
  
      <!--Grid row-->
      <div class="row py-5">
  
        <!--Grid column-->
        <div class="col-md-12 text-center">
  
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit
            anim id est laborum.</p>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
  
  </main>
  <!--Main Layout-->