<div class="container-fluid gedf-wrapper">
    <div class="row">
       <div class="col-md-3">
       </div>
       <div class="col-md-6 gedf-main">
          <br>
          <div class="card gedf-card">
             <div class="card-header">
                <img src="https://img.icons8.com/pastel-glyph/64/000000/page-not-found--v2.png"/>
                <h5></h5>
                <br>
                <h5 class="card-title">Unfortunately the page you are looking for cannot be found</h5>
                <!-- Return to the Chapter homepage <a routerLink="/">here</a> -->
                <!-- Click to return to the Chapter homepage  -->
                <!-- <br> -->
                <button class="btn-primary btn-sm" routerLink="/">Take Me Home</button>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="col-md-3">
    <br>
 </div>