<div class="container-fluid gedf-wrapper" *ngFor="let group of groupService.group_list | async">
  <div class="row">
      <div class="col-md-3">
          <div class="card gedf-card">
              <div class="card-header">
                  <h5 class="card-title">Details</h5>
              </div>
                  <div class="card-body">
                      <h4>{{group.name}}</h4>
                      <h6>{{group.description}}</h6>
                      <button type="button" class="btn btn-success btn-sm" (click)="this.groupService.joinGroup(group.id)">Join</button>
          
                          
                  </div>
              </div>
            </div>

          <div class="col-md-6 gedf-main">
            <div class="card gedf-card">
              <div class="card-header">
                  <h5 class="card-title">Discussion</h5>
                  <button type="button" class="btn btn-success btn-sm" (click)="newPostModal.show()">Post</button>
              </div>
              <div class="card-body" *ngFor = "let post of groupService.posts_list | async">
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="card-subtitle">
                  <img class="rounded-circle profile-picture" src="{{post.author_image}}" style="width:50px; height:50px">
                  {{post.author_name}}</h6>
              
              <p>{{post.text}}</p>

          

              
          </div>

        </div>
        </div>

        <div class="col-md-3">
          <div class="card gedf-card">
              <div class="card-header">
                  <h5 class="card-title">Members</h5>
              </div>
                  <div class="card-body" *ngFor = "let member of groupService.members_list | async" style="cursor: pointer" routerLink='/user/{{member.user_id}}'>
                    <img class="rounded-circle profile-picture" src="{{member.image}}" style="width:50px; height:50px">
                    {{member.name}}
                  
                   
                  </div>
              </div>
      </div>

      <div mdbModal #newPostModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="newPostModal.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">New Post</h4>
            </div>
            <div class="modal-body">

              <form [formGroup]="newPostForm">

                <div class="form-group">
                  <h5>Title</h5>
                  <textarea id="title" rows="1" name="title"
                  class="form-control"
                  formControlName="title">
                              </textarea>
                  <h5>Text</h5>
                  <textarea id="text" rows="1" name="text"
                  class="form-control"
                  formControlName="text">
                              </textarea>
                  </div>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="newPostModal.hide()" mdbWavesEffect>Cancel</button>
              <button type="button" mdbBtn color="primary" class="relative waves-light" (click)= "this.groupService.createPost(group.id, this.newPostForm.value) ;newPostModal.hide();" mdbWavesEffect>Submit</button>
            </div>
          </div>
          </div>

     </div>
     </div>


<!-- <div class="container mb-5 mt-5">
    <div class="card">
        <div *ngFor = "let group of groupService.group_list | async">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-5"> {{group.name}}</h3>
                <h4 class="text-center mb-5"> {{group.description}}</h4>
            </div>
        </div>
        </div>




<div class="container">
    <h1>Members</h1>
    <div class="card-deck">
    <div class="row mt-5 justify-content-center">
      <div *ngFor = "let member of groupService.members_list | async">
      <div class="card card-custom mx-2 mb-3"
      style="cursor: pointer" routerLink='/user/{{member.user_id}}'>
             <div class="card-footer">
              {{member.name}}
          </div>
        </div>
      </div>
    </div>

    
        <div class="container">
            <h1>Discussion</h1>

        <div class="media d-block d-md-flex mt-4" *ngFor = "let post of groupService.posts_list | async">
            <img class="card-img-64 d-flex mx-auto mb-3"
              src="{{post.author_image}}" alt="Generic placeholder image" style="cursor:pointer" routerLink='/user/{{post.author_id}}'>
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
              <p class="font-weight-bold my-0">
                {{post.author_name}}
                <a href="" class="pull-right ml-1">
                  <i class="fas"></i>
                </a>
              </p>
              {{post.text}}
              <button (click)="this.getPostComments(post.id)">Show Replies</button>
              <div class="media d-block d-md-flex mt-4" *ngFor = "let comment of commentService.comment_list | async">
                <img class="card-img-64 d-flex mx-auto mb-3"
                  src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg" alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                  <p class="font-weight-bold my-0">
                    {{comment.commenter_name}}
                    <a href="" class="pull-right ml-1">
                      <i class="fas fa-reply"></i>
                    </a>
                  </p>
                  {{comment.text}}
                </div>
              </div>
              </div>
              </div>


    
              <div class="container mb-5 mt-5">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center mb-5"> Discussion </h3>
                            <div class="row" *ngFor = "let post of groupService.posts_list | async">
                                <div class="col-md-12">
                                    <div class="media"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://i.imgur.com/stD0Q19.jpg" />
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-8 d-flex">
                                                    <h5>{{post.author_name}}</h5> <span>- 2 hours ago</span>
                                                </div>
                                                <div class="col-4">
                                                    <div class="pull-right reply"> <a href="#"><span><i class="fa fa-reply"></i> reply</span></a> </div>
                                                </div>
                                            </div> It is a long established fact that a reader will be distracted by the readable content of a page. <div class="media mt-4"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/xELPaag.jpg" /></a>
                                                <div class="media-body">
                                                    <div class="row">
                                                        <div class="col-12 d-flex">
                                                            <h5>Simona Disa</h5> <span>- 3 hours ago</span>
                                                        </div>
                                                    </div> letters, as opposed to using 'Content here, content here', making it look like readable English.
                                                </div>
                                            </div>
                                            <div class="media mt-3"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/nAcoHRf.jpg" /></a>
                                                <div class="media-body">
                                                    <div class="row">
                                                        <div class="col-12 d-flex">
                                                            <h5>John Smith</h5> <span>- 4 hours ago</span>
                                                        </div>
                                                    </div> the majority have suffered alteration in some form, by injected humour, or randomised words.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         
         -->