<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <br>
            <div class="card gedf-card">
                <div class="card-header">
                    <img src="https://img.icons8.com/flat-round/64/000000/info.png"/>
                    <h5 class="card-title">How Recommendations Work</h5>
                </div>
                    <div class="card-body">
                       <p>Chapter provides personalised recommendations based on your reading preferences.</p>

                       The more ratings and reviews you provide, the more accurate your recommendations will become. 
                    </div>
                </div>
            
              </div>
              <div class="col-md-6 gedf-main">
                <br>
                <div class="card gedf-card">
                  <div class="card-header">
                    <img src="https://img.icons8.com/color/50/000000/story-book.png"/>
                      <h5 class="card-title">Recommendations</h5>
                  </div>
                  <!-- <div class="card-body" *ngFor =
                  "let recommendation of recommendationService.books_list | async"> -->
                  <div class="row mt-5 justify-content-center">
                    <div class="card card-custom mx-2 mb-3" style="width:128px;" *ngFor =
                    "let recommendation of recommendationService.books_list | async"> 
                  <img src={{recommendation.rec_book.image}} alt="Image" style="cursor:pointer" routerLink='/books/{{recommendation.rec_book.ISBN}}' class="card-img">
                  <button type="button" class="btn btn-primary btn-sm" routerLink='/books/{{recommendation.rec_book.ISBN}}'>View</button>
                  <br>
                  <b>Title:</b>{{recommendation.rec_book.title}}
                  <br> <br>
                  <b>Author:</b>{{recommendation.rec_book.author}}
                  <br> <br>
                  <p>Because you enjoyed <a href="/books/{{recommendation.rec_source.ISBN}}"><b>{{ recommendation.rec_source.title}} </b></a></p>
                  
                
                  
                  </div>
                  </div>
              </div>

              <!-- <div class="card gedf-card" *ngIf="!this.recommendationService.recommendationsExist">
                <div class="card-header">
                  <img src="https://img.icons8.com/color/50/000000/story-book.png"/>
                    <h5 class="card-title">sdsds</h5>
                </div>
                <div class="card-body">
                <button type="button" class="btn btn-primary btn-sm">View</button>
                
                </div>
                
            </div> -->
    
            </div>

            <div class="col-md-3">
                <br>
                <div class="card gedf-card">
                    <div class="card-header">
                        <img src="https://img.icons8.com/fluent/48/000000/helping-hand.png"/>
                        <h5 class="card-title">Help Chapter Help You</h5>
                    </div>
                        <div class="card-body" style="cursor: pointer">
                          <h5>Rate any of the following books to help us provide the best recommendations</h5>
                          <ul>
                              <li *ngFor="let book of recommendationService.inspiration_books_list | async">{{book.title}} &nbsp; <button type="button" class="btn btn-primary btn-sm" routerLink='/books/{{book.ISBN}}'>View</button></li>
                          </ul>
                        
                         
                        </div>
                    </div>
            </div>


    <!-- <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="card card-custom mx-2 mb-3" style="cursor:pointer" routerLink='/books/{{recommendation.rec_book.ISBN}}' *ngFor =
            "let recommendation of recommendationService.books_list | async">
            <img src={{recommendation.rec_book.image}} alt="Image" style="cursor:pointer" routerLink='/books/{{recommendation.rec_book.ISBN}}' class="card-img">
            <br>Because you enjoyed  <b>{{ recommendation.rec_source.title}} </b>
        </div>
        </div>

        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="card card-custom mx-2 mb-3" style="cursor:pointer">
                    Have you enjoyed any of the following books? 
                    <br> Select at least one to start receiving personalised recommendations
            </div>
            </div> -->

            <!-- *ngIf="!recommendationService.books_list.length > 0">  -->