<div class="container-fluid gedf-wrapper">
  <div class="row">
      <div class="col-md-3">
          <div class="card gedf-card">
              <div class="card-header">
                <img src="https://img.icons8.com/cute-clipart/64/000000/new.png"/>
                  <h5 class="card-title">New Group</h5>
              </div>
                  <div class="card-body" style="cursor: pointer;">
                      <h4>Got an idea for a new group?</h4>
                      <button type="button" class="btn btn-success btn-sm" (click)="newGroupModal.show()">Create Group</button>
          
                          
                  </div>
              </div>
              <div class="card gedf-card">
                <div class="card-header">
                  <img src="https://img.icons8.com/doodle/50/000000/group.png"/>
                    <h5 class="card-title">My Groups</h5>
                </div>
                    <div class="card-body" *ngFor="let group of groupService.user_groups_list | async" style="cursor: pointer;" routerLink="/group/{{group.id}}">
                        <h4>{{group.name}}</h4>
                        <button type="button" class="btn btn-primary btn-sm">View</button>
            
                            
                    </div>
                </div>
            </div>

          <div class="col-md-6 gedf-main">
            <div class="card gedf-card">
              <div class="card-header">
                <img src="https://img.icons8.com/doodle/50/000000/group.png"/>
                  <h5 class="card-title">All Groups</h5>
              </div>
              <div class="card-body" *ngFor="let group of groupService.groups_list | async">
              <h4>{{group.name}}</h4>
              <h6>{{group.description}}</h6>
              <button type="button" class="btn btn-primary btn-sm" routerLink="/group/{{group.id}}">View</button>
              <!-- <button type="button" class="btn btn-success btn-sm" (click)="this.groupService.joinGroup(group.id)">Join</button> -->
              </div>
          </div>

        </div>

        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-header">
                  <img src="https://img.icons8.com/dusk/64/000000/badge.png"/>
                    <h5 class="card-title">Member Search</h5>
                </div>
                    <div class="card-body">
                      <form class="form-inline md-form form-sm active-pink-2" [formGroup]="userSearchForm" [ngClass]="{ 'error': searchFormInvalid('query')}">
                        <input class="form-control form-control-sm mr-3 w-75" name="query" formControlName="query" type="text" placeholder="Search users" aria-label="Search"
                          mdbInput>
                        <mdb-icon fas icon="search" aria-hidden="true" *ngIf="!searchFormIncomplete()" (click)="this.searchService.searchUsers(this.userSearchForm.value.query)" routerLink='/search/users/{{this.userSearchForm.value.query}}'></mdb-icon>
                      </form> 
                    </div>
                </div>
        </div>

        <div mdbModal #newGroupModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newGroupModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="newGroupModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Group Details</h4>
              </div>
              <div class="modal-body">
  
                <form [formGroup]="newGroupForm">
  
                  <div class="form-group">
                    <h5>Name</h5>
                    <textarea id="name" rows="1" name="name"
                    class="form-control"
                    formControlName="name" [ngClass]="{ 'error': isInvalid('name')}">
                                </textarea>
                    <h5>Description</h5>
                    <textarea id="description" rows="1" name="description"
                    class="form-control"
                    formControlName="description" [ngClass]="{ 'error': isInvalid('description')}">
                                </textarea>
                    </div>
                    <span *ngIf="isIncomplete()">
                      Note: You must complete both fields</span>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" *ngIf="!isIncomplete()" (click)="newGroupModal.hide()" mdbWavesEffect>Cancel</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" *ngIf="!isIncomplete()" (click)="this.groupService.createGroup(this.newGroupForm.value); newGroupModal.hide();" mdbWavesEffect>Submit</button>
              </div>
            </div>
            </div>