<div class="container-fluid gedf-wrapper">
  <div class="row">
      <div class="col-md-3">
          <div class="card gedf-card">
              <div class="card-header">
                  <h5 class="card-title">My Groups</h5>
              </div>
                  <div class="card-body" *ngFor="let group of groupService.user_groups_list | async" style="cursor: pointer;" routerLink="/group/{{group.id}}">
                      <h4>{{group.name}}</h4>
                      <button type="button" class="btn btn-primary btn-sm">View</button>
          
                          
                  </div>
              </div>
            </div>

          <div class="col-md-6 gedf-main">
            <div class="card gedf-card">
              <div class="card-header">
                  <h5 class="card-title">All Groups</h5>
              </div>
              <div class="card-body" *ngFor="let group of groupService.groups_list | async">
              <h4>{{group.name}}</h4>
              <h6>{{group.description}}</h6>
              <button type="button" class="btn btn-primary btn-sm" routerLink="/group/{{group.id}}">View</button>
              <button type="button" class="btn btn-success btn-sm" (click)="this.groupService.joinGroup(group.id)">Join</button>
              </div>
          </div>

        </div>

        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-header">
                    <h5 class="card-title">Member Search</h5>
                </div>
                    <div class="card-body">
                      <form class="form-inline md-form form-sm active-pink-2" [formGroup]="userSearchForm">
                        <input class="form-control form-control-sm mr-3 w-75" name="query" formControlName="query" type="text" placeholder="Search users" aria-label="Search"
                          mdbInput>
                        <mdb-icon fas icon="search" aria-hidden="true" (click)="this.searchService.searchUsers(this.userSearchForm.value.query)" routerLink='/search/users/{{this.userSearchForm.value.query}}'></mdb-icon>
                      </form> 
                    </div>
                </div>
        </div>