<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-header">
                    <img src="https://img.icons8.com/officel/40/000000/chat.png"/>
                    <h5 class="card-title">Chats</h5>
                </div>
                    <div class="card-body"> 
                       <ul class="users">
                        <li class="person" *ngFor= "let partner of messagingService.msg_partners_list | async" data-chat="person1">
                            <div class="user" (click)="loadChat(partner.id)" routerLink='/messages/{{partner.id}}'>
                                <img src="{{partner.image}}" alt="Profile Pic">
                            </div>
                            <p class="name-time" (click)="loadChat(partner.id)" routerLink='/messages/{{partner.id}}'>
                                <span class="name">{{partner.name}}</span>
                            </p>
                            <!-- <button type="button" class="btn btn-primary btn-sm">View</button> -->

                        </li>
                    </ul>
                    </div>
                </div>
            
              </div>
              <div class="col-md-6 gedf-main">
                <div class="card gedf-card">
                  <div class="card-header">
                      <h5 class="card-title">Conversation</h5>
                  </div>
                  <div class="card-body">

                  <div *ngFor= "let msg of messagingService.convo_messages_list | async">
                      <ul>
                        <li *ngIf="receivedMessage(msg)" class="chat-left">
                            <div class="chat-avatar">
                                <img src="{{msg.sender_image}}" alt="Profile Pic">
                                <div class="chat-name">{{msg.sender_name}}</div>
                            </div>
                            <div class="chat-text">{{msg.text}}</div>
                            <div class="chat-hour">{{msg.sent}}<span class="fa fa-check-circle"></span></div>
                        </li>
                        <li *ngIf="sentMessage(msg)" class="chat-right">
                            <div class="chat-hour">{{msg.sent}}<span class="fa fa-check-circle"></span></div>
                            <div class="chat-text">{{msg.text}}</div>
                            <div class="chat-avatar">
                                <img src="{{msg.sender_image}}" alt="Profile Pic">
                                <div class="chat-name">{{msg.sender_name}}</div>
                            </div>
                        </li>
                    </ul>
                 </div>
                 <form [formGroup]="newMessageForm" (ngSubmit)="onSend()">
                    <div *ngIf="chatOpen()" class="form-group mt-3 mb-0">
                        <textarea class="form-control" id="message" name="message" formControlName="message" rows="3" placeholder="Type your message here..."></textarea>
                        <br>
                        <button type="submit" class="btn btn-primary btn-sm">Send</button>
                    </div>
                </form>
              </div>
              </div>
    
            </div>

            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-header">
                        <img src="https://img.icons8.com/dusk/64/000000/badge.png"/>
                          <h5 class="card-title">Member Search</h5>
                      </div>
                          <div class="card-body">
                              <h6>Find other users to contact</h6>
                            <form class="form-inline md-form form-sm active-pink-2" [formGroup]="userSearchForm">
                              <input class="form-control form-control-sm mr-3 w-75" name="query" formControlName="query" type="text" placeholder="Search users" aria-label="Search"
                                mdbInput>
                              <mdb-icon fas icon="search" aria-hidden="true" (click)="this.searchService.searchUsers(this.userSearchForm.value.query)" routerLink='/search/users/{{this.userSearchForm.value.query}}'></mdb-icon>
                            </form> 
                          </div>
                      </div>
              </div>
              </div>