.bcontent {
    margin-top: 10px;
  }
  .text-card-title {
    font-size: 1.2rem;
    font-family: "Comfoorta-Bold";
  }
  
  .text-card-text,
  .card-button-text {
    font-size: 1.0rem;
    color: #403e3e;
    font-family: "Comfoorta-Light";
  }
  .card-button-text {
    color: #ffffff;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 